@import 'bootstrap';

body {background-color: black;

}

.logo {
color:white;
font-size: 45px;
margin-left:10px;
padding-top: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.menu {
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 0px;

}

.buscar {
    background: green;
    border-radius: 7px;
    border: 0px;
    margin-left: 0px;
    width: 250px;
}

.encabezado {
background-color: aqua;
padding: 0px;
height: 60px;
overflow: hidden;
padding-top: 15px;
width: 100%;

}

.todos {
    margin: 1px;
    padding: 1px;
    color: green;
    float: left;
}

.guion {
    list-style-type: none;
    display: flex;
}
.seccion {
    margin-left: 40px;
}