@import 'bootstrap';


body {
    background-color: black;
    padding-top:0%;

}

.encabezado {
    background-color: red;
    height: 60px;
    padding:0%;
    width: 100%;
    position: fixed;

}

.logo {
    float: left;
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

.uli {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

}

.uli a {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;

}

.kiki {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 400px;

}

.sele {
    margin-left: 8px;
    border: 1px solid red;
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-top: 15px;
}

.al {
    display: contents;
    margin-top: 0px;
}

.buscar {
    background-color: blue;
    border-radius: 5px;
    border: 1px;
    height: 25px;
    width: 230px;

}

.portadafo {
    background-color: black;
    height: 400px;
    width: 600px;
    margin-left: 320px;


}

.zal {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.letra {
    margin-left: 50px;
    font-size: 35px;
    margin-top: 100px;


}

.letr {
    margin-left: 50px;
    font-size: 15px;
    font-size: 18px;


}

.le {
    display: flex;
    flex-direction: column;

}

.resumen {
    width: 600px;
    height: 230px;
    color: white;
    background-color: black;

}

.re {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 15px;
    font-size: 25px;
}

.capitulos {

    width: 600px;
    height: 230px;
    background-color: black
}

.ñ {
height: 40px;
width: 160px;
border-radius: 5px;
border: 1px solid purple;
background-color: purple;
color: white;
margin-top: 15px;
margin-left: 25px;

}

